<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= @advancement.user.name %>'s Advancements</h3>
    </div>
  </div>
  <hr>
  <div class="row" id="rank-nav">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
       <ul class="nav nav-tabs">
         <% @advancement.ranks.each do |rank| %>
          <!-- TO DO: consider updating rank name to remove white space & removes need to gsub -->
         <li><%= link_to rank.rank, advancement_rank_path(@advancement, rank), class: "rank-tab"%></li>
         <% end %>
       </ul>
     </div>
   </div>
   <div class="row pad-b-10" id="req-table">
     <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
       <table class="table table-striped">
       </table>
     </div>
   </div>
  <hr>
  <div class="row pad-b-20">
    <div class="col-xs-6">
      <div><%= link_to 'Edit Advancements', edit_advancement_path(@advancement) %></div>
      <div><%= link_to 'Back to All Advancements', advancements_path %></div>
      <div><%= link_to 'Back to Homepage', root_path %></div>
    </div>
  </div>
</div>
